@model FlightDetailVM

@{
    ViewData["Title"] = "Blog Details";
}
<main style="margin-top: 70px; margin-left:60px;">
    <h2>Flight Details</h2>

    <div>
        <h4>Flight</h4>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th>Model</th>
                        <th>Create Date</th>
                        <th>Departure Airport</th>
                        <th>Arrival Airport</th>
                        <th>Ticket Count</th>
                        <th>DepartureTime</th>
                        <th>ArrivalTime</th>
                        
                    </tr>
                </thead>
                <tbody>



                    <tr style="background-color:#bbb">



                        <td>
                            @Model.FlightNumber
                        </td>
                        <td>@Model.CreatedDate.ToString("dd/MMMM/yyyy")</td>
                        <td>
                            @Model.DepartureAirport
                        </td>
                        <td>
                            @Model.ArrivalAirport
                        </td>
                        <td>
                            @Model.TicketCount
                        </td>

                        <td>
                            @Model.DepartureTime
                        </td>
                        <td>
                            @Model.ArrivalTime
                        </td>
                    </tr>




                </tbody>
            </table>

            <div>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </div>
</main>