@model IEnumerable<AirportVM>
@{
    ViewData["Title"] = "View";
}
<main style="margin-top: 70px; margin-left:60px;">


    <div class="container mt-5">
        <h2 class="text-center">Airport area</h2>
        <a asp-action="Create" class="btn btn-success">
            <i class="fa-solid fa-plus"></i>
        </a>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                       
                        <th>Location</th>
                        <th>AirportCode</th>
                        <th>Language</th>



                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        @foreach (var itm in item.AirportTranslates)
                        {

                            <tr style="background-color:#bbb">

                              
                                <td>
                                    @itm.Location
                                </td>
                                <td>
                                    @item.AirportCode
                                   
                                </td>
                                <td>
                                    @itm.Language.Name
                                </td>


                                <td>

                                   

                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white small">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">

                                        <button type="submit" class="btn btn-danger text-white small">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
    </div>
</main>

