@model PopularDirectionDetailVM

@{
    ViewData["Title"] = "Blog Details";
}
<main style="margin-top: 70px; margin-left:60px;">
    <h2>Blog Details</h2>

    <div>
        <h4>Blog</h4>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th>Image</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Price(Econom)</th>
                        <th>Price(Biznes)</th>
                        <th>Created Date</th>
                        <th>Language</th>
                        <th>LangCode</th>
                    </tr>
                </thead>
                <tbody>



                    <tr style="background-color:#bbb">

                        <td>

                            <img style="witdh:100px;height:200px;" src="~/assets/img/@Model.Image" />

                        </td>

                        <td>
                            @Model.PopularDirectionTranslate.City
                        </td>

                        <td>@Model.PopularDirectionTranslate.Country</td>
                        <td>
                            @Model.PriceEconom
                        </td>
                        <td>
                            @Model.PriceBiznes
                        </td>
                        <td>
                            @Model.PopularDirectionTranslate.CreatedDate.ToString("dd/mmmm/yyyy")
                        </td>
                        <td>
                            @Model.PopularDirectionTranslate.Language.Name
                        </td>

                        <td>
                            @Model.PopularDirectionTranslate.Language.Culture

                        </td>
                    </tr>




                </tbody>
            </table>

            <div>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </div>
</main>