@model IEnumerable<TicketVM>
@{
    ViewData["Title"] = "View";
}
<main style="margin-top: 70px; margin-left:60px;">


    <div class="container mt-5">
        <h2 class="text-center">Tickets</h2>
        <a asp-action="Create" class="btn btn-success">
            <i class="fa-solid fa-plus"></i>
        </a>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>


                        <th>Departure Airport</th>
                        <th>Arrival Airport</th>
                        <th>Flight Number</th>
                        <th>Price(Econom)</th>
                        <th>Price(Biznes)</th>



                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {


                        <tr style="background-color:#bbb">


                            <td>
                                @item.Flight.DepartureAirport.AirportTranslates.SingleOrDefault().Location
                            </td>
                            <td>
                                @item.Flight.ArrivalAirport.AirportTranslates.SingleOrDefault().Location
                            </td>
                            <td>
                                @item.Flight.FlightNumber

                            </td>
                            <td>
                                @item.Flight.Price_econom

                            </td>
                            <td>
                                @item.Flight.Price_biznes

                            </td>


                            <td>

                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary text-white small">
                                    <i class="fa-solid fa-info"></i>
                                </a>

                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white small">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">

                                    <button type="submit" class="btn btn-danger text-white small">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</main>




